#ImageHover:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
  }
  
  #LikeSymbol {
    z-index: 10000;
    position: absolute;
    top: 4%;
    right: 4%;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 5px;  
  }
  #LikeDiv{
    background-color: rgb(243, 232, 232);
    width: 20%;
    height: 20%;
    position: absolute;
    top: 4%;
    right: 4%;
  }
  